# Projeto Big Data & Data Mining

## Consumo de propagandas: impacto dos anúncios na decisão de compra dos consumidores

### Imports

In [379]:
import pandas as pd
import os
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError
from dotenv import load_dotenv
import sys
sys.path.append("../utils/funcoes")
from menor_e_maior_idade import imputar_age_max, imputar_age_min

### Armazenamento

In [380]:
df = pd.read_csv("../data/Social_Media_Advertising.csv")
df.head()

,Campaign_ID,Target_Audience,Campaign_Goal,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,Company
0,529013,Men 35-44,Product Launch,15 Days,Instagram,0.15,$500.00,5.790000,Las Vegas,Spanish,500,3000,7,Health,2022-02-25,Aura Align
1,275352,Women 45-60,Market Expansion,15 Days,Facebook,0.01,$500.00,7.210000,Los Angeles,French,500,3000,5,Home,2022-05-12,Hearth Harmony
2,692322,Men 45-60,Product Launch,15 Days,Instagram,0.08,$500.00,0.430000,Austin,Spanish,500,3000,9,Technology,2022-06-19,Cyber Circuit
3,675757,Men 25-34,Increase Sales,15 Days,Pinterest,0.03,$500.00,0.909824,Miami,Spanish,293,1937,1,Health,2022-09-08,Well Wish
4,535900,Men 45-60,Market Expansion,15 Days,Pinterest,0.13,$500.00,1.422828,Austin,French,293,1937,1,Home,2022-08-24,Hearth Harmony

### Análise

In [381]:
df.shape

(300000, 16)

In [382]:
print("Primeiras 5 linhas do DataFrame: ")
print(df.head(5))

Primeiras 5 linhas do DataFrame:
   Campaign_ID Target_Audience     Campaign_Goal Duration Channel_Used  \
0       529013       Men 35-44    Product Launch  15 Days    Instagram
1       275352     Women 45-60  Market Expansion  15 Days     Facebook
2       692322       Men 45-60    Product Launch  15 Days    Instagram
3       675757       Men 25-34    Increase Sales  15 Days    Pinterest
4       535900       Men 45-60  Market Expansion  15 Days    Pinterest

   Conversion_Rate Acquisition_Cost       ROI     Location Language  Clicks  \
0             0.15          $500.00  5.790000    Las Vegas  Spanish     500
1             0.01          $500.00  7.210000  Los Angeles   French     500
2             0.08          $500.00  0.430000       Austin  Spanish     500
3             0.03          $500.00  0.909824        Miami  Spanish     293
4             0.13          $500.00  1.422828       Austin   French     293

   Impressions  Engagement_Score Customer_Segment        Date         Company
0         3000                 7           Health  2022-02-25      Aura Align
1         3000                 5             Home  2022-05-12  Hearth Harmony
2         3000                 9       Technology  2022-06-19   Cyber Circuit
3         1937                 1           Health  2022-09-08       Well Wish
4         1937                 1             Home  2022-08-24  Hearth Harmony

In [383]:
print("Informações Gerais do DataFrame: ")
df.info()

Informações Gerais do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       300000 non-null  int64
 1   Target_Audience   300000 non-null  object
 2   Campaign_Goal     300000 non-null  object
 3   Duration          300000 non-null  object
 4   Channel_Used      300000 non-null  object
 5   Conversion_Rate   300000 non-null  float64
 6   Acquisition_Cost  300000 non-null  object
 7   ROI               300000 non-null  float64
 8   Location          300000 non-null  object
 9   Language          300000 non-null  object
 10  Clicks            300000 non-null  int64
 11  Impressions       300000 non-null  int64
 12  Engagement_Score  300000 non-null  int64
 13  Customer_Segment  300000 non-null  object
 14  Date              300000 non-null  object
 15  Company           300000 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 36.6+ MB

In [384]:
df.describe()

,Campaign_ID,Conversion_Rate,ROI,Clicks,Impressions,Engagement_Score
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,550444.804487,0.080009,3.177691,18153.670370,56034.236387,4.369217
std,260252.586037,0.040563,2.461200,11027.023294,32583.136334,3.156492
min,100001.000000,0.010000,0.000000,293.000000,1937.000000,1.000000
25%,325003.500000,0.050000,0.930000,8821.000000,28362.000000,1.000000
50%,551164.500000,0.080000,2.670000,17230.000000,54098.000000,4.000000
75%,776284.500000,0.110000,5.330000,26808.000000,80925.250000,7.000000
max,999998.000000,0.150000,8.000000,40000.000000,120000.000000,10.000000

### Tratamentos

#### Target_Audience

In [385]:
# Engenharia de Atributos: 
# Classificação de público-alvo (target audience)
print(df['Target_Audience'].unique())
print("\n--------Frequencia----------")
df['Target_Audience'].value_counts()

['Men 35-44' 'Women 45-60' 'Men 45-60' 'Men 25-34' 'Women 35-44'
 'All Ages' 'Women 25-34' 'Men 18-24' 'Women 18-24']

--------Frequencia----------

Target_Audience
Women 18-24    33593
Men 45-60      33491
Women 25-34    33482
All Ages       33447
Men 25-34      33346
Men 35-44      33204
Men 18-24      33181
Women 35-44    33142
Women 45-60    33114
Name: count, dtype: int64

In [386]:
# Separação de gênero em novas colunas e extação de faixa etária
df['_Target_Audience'] = df['Target_Audience'].str.extract(r'^(Men|Women|All Ages)', expand=False)
df[['Age_Min', 'Age_Max']] = df['Target_Audience'].str.extract(r'(\d+)-(\d+)', expand=True)

In [387]:
#Conversão das idades em núméricos

df['Age_Max'] = pd.to_numeric(df['Age_Max'], errors='coerce').astype('Int16') # conversão direta para inteiro
df['Age_Min'] = pd.to_numeric(df['Age_Min'], errors='coerce').astype('Int16')
print(df['Age_Max'].head(5))

0    44
1    60
2    60
3    34
4    60
Name: Age_Max, dtype: Int16

In [388]:
print(df['_Target_Audience'].value_counts())

_Target_Audience
Women       133331
Men         133222
All Ages     33447
Name: count, dtype: int64

Imputação de dados de All_ages

In [389]:
#Busca de não registrados
lista_ids = df.loc[df["Age_Min"].isna(), "Campaign_ID"].tolist()
i = 0
while i < 5 and len(lista_ids):
 print(lista_ids[i])
 i+=1

727501
320183
592659
567173
431414

In [390]:
ids = [727501, 320183, 592659, 567173, 431414]
print(pd.concat([df[df["Campaign_ID"] == i] for i in ids]))

        Campaign_ID Target_Audience     Campaign_Goal Duration Channel_Used  \
6            727501        All Ages    Increase Sales  15 Days    Pinterest
281870       727501     Women 18-24  Market Expansion  60 Days    Pinterest
12           320183        All Ages    Product Launch  15 Days    Pinterest
26           592659        All Ages    Product Launch  15 Days     Facebook
199512       592659        All Ages    Product Launch  45 Days     Facebook
28           567173        All Ages    Increase Sales  15 Days     Facebook
54           431414        All Ages    Increase Sales  15 Days    Instagram

        Conversion_Rate Acquisition_Cost       ROI     Location Language  \
6                  0.10          $500.00  0.679240  Los Angeles   French
281870             0.15        $14486.76  0.938423        Miami  English
12                 0.04          $500.00  0.128698        Miami  Spanish
26                 0.12          $500.00  6.720000        Miami  English
199512             0.14        $10150.42  7.220000     New York  Spanish
28                 0.06          $500.00  1.080000     New York   French
54                 0.11          $500.00  6.660000        Miami   French

        Clicks  Impressions  Engagement_Score Customer_Segment        Date  \
6          293         1938                 1             Home  2022-10-30
281870   22091        72911                 1       Technology  2022-01-06
12         294         1939                 1             Home  2022-03-05
26         503         3010                 2           Health  2022-11-13
199512   26769        80809                 6       Technology  2022-07-21
28         503         3010                 6             Food  2022-11-28
54         507         3021                 9             Home  2022-03-25

                  Company _Target_Audience  Age_Min  Age_Max
6            Space Spruce         All Ages     <NA>     <NA>
281870      Gadget Giants            Women       18       24
12           Homely Haven         All Ages     <NA>     <NA>
26           Balance Beam         All Ages     <NA>     <NA>
199512  Innovate Infinity         All Ages     <NA>     <NA>
28          Feast Flavors         All Ages     <NA>     <NA>
54         Domestic Dream         All Ages     <NA>     <NA>

In [391]:
import importlib
import menor_e_maior_idade
importlib.reload(menor_e_maior_idade)

# Mínimo
df['Age_Min'] = imputar_age_min(df['Age_Min'])
# Máximo
df['Age_Max'] = imputar_age_max(df['Age_Max'])

In [392]:
print(df['Age_Min'].info(),
      df['Age_Max'].info(),)

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: Age_Min
Non-Null Count   Dtype
--------------   -----
300000 non-null  Int16
dtypes: Int16(1)
memory usage: 879.0 KB
<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: Age_Max
Non-Null Count   Dtype
--------------   -----
300000 non-null  Int16
dtypes: Int16(1)
memory usage: 879.0 KB
None None

In [393]:
ids = [727501, 320183, 592659, 567173, 431414]
print(pd.concat([df[df["Campaign_ID"] == i] for i in ids]))

        Campaign_ID Target_Audience     Campaign_Goal Duration Channel_Used  \
6            727501        All Ages    Increase Sales  15 Days    Pinterest
281870       727501     Women 18-24  Market Expansion  60 Days    Pinterest
12           320183        All Ages    Product Launch  15 Days    Pinterest
26           592659        All Ages    Product Launch  15 Days     Facebook
199512       592659        All Ages    Product Launch  45 Days     Facebook
28           567173        All Ages    Increase Sales  15 Days     Facebook
54           431414        All Ages    Increase Sales  15 Days    Instagram

        Conversion_Rate Acquisition_Cost       ROI     Location Language  \
6                  0.10          $500.00  0.679240  Los Angeles   French
281870             0.15        $14486.76  0.938423        Miami  English
12                 0.04          $500.00  0.128698        Miami  Spanish
26                 0.12          $500.00  6.720000        Miami  English
199512             0.14        $10150.42  7.220000     New York  Spanish
28                 0.06          $500.00  1.080000     New York   French
54                 0.11          $500.00  6.660000        Miami   French

        Clicks  Impressions  Engagement_Score Customer_Segment        Date  \
6          293         1938                 1             Home  2022-10-30
281870   22091        72911                 1       Technology  2022-01-06
12         294         1939                 1             Home  2022-03-05
26         503         3010                 2           Health  2022-11-13
199512   26769        80809                 6       Technology  2022-07-21
28         503         3010                 6             Food  2022-11-28
54         507         3021                 9             Home  2022-03-25

                  Company _Target_Audience  Age_Min  Age_Max
6            Space Spruce         All Ages       18       60
281870      Gadget Giants            Women       18       24
12           Homely Haven         All Ages       18       60
26           Balance Beam         All Ages       18       60
199512  Innovate Infinity         All Ages       18       60
28          Feast Flavors         All Ages       18       60
54         Domestic Dream         All Ages       18       60

Limpeza

In [394]:
df = df.drop(columns=["Target_Audience"])

#### Duração

In [395]:
# Duração de object para int
df['Duration'].unique()

array(['15 Days', '30 Days', '45 Days', '60 Days'], dtype=object)

In [396]:
df = df.rename(columns={'Duration': 'Duration_in_Days'})
print(df['Duration_in_Days'].head(10).info())

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: Duration_in_Days
Non-Null Count  Dtype
--------------  -----
10 non-null     object
dtypes: object(1)
memory usage: 212.0+ bytes
None

In [397]:
df["Duration_in_Days"] = df["Duration_in_Days"].str.replace("Days", " ", regex=False)
df["Duration_in_Days"] = df["Duration_in_Days"].str.strip()

In [398]:
print(df['Duration_in_Days'].head(5))

0    15
1    15
2    15
3    15
4    15
Name: Duration_in_Days, dtype: object

In [399]:
df["Duration_in_Days"] = pd.to_numeric(df["Duration_in_Days"], errors="coerce").astype("Int64")

In [400]:
print(df['Duration_in_Days'].head(5))

0    15
1    15
2    15
3    15
4    15
Name: Duration_in_Days, dtype: Int64

#### Data

In [401]:
# Data para datetime
df['Date'].head(3)

0    2022-02-25
1    2022-05-12
2    2022-06-19
Name: Date, dtype: object

In [402]:
df['Date'].head(10).info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: Date
Non-Null Count  Dtype
--------------  -----
10 non-null     object
dtypes: object(1)
memory usage: 212.0+ bytes

In [403]:
df["Date"] = pd.to_datetime(df["Date"], format="%Y-%m-%d", errors="coerce")
df['Date'].head(10).info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: Date
Non-Null Count  Dtype
--------------  -----
10 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 212.0 bytes

In [404]:
print(df['Date'].head(3))

0   2022-02-25
1   2022-05-12
2   2022-06-19
Name: Date, dtype: datetime64[ns]

#### Custo_Aquisicao

In [405]:
df['Acquisition_Cost'].unique()[:20]

array(['$500.00', '$500.10', '$500.18', '$500.20', '$500.27', '$500.45',
       '$500.49', '$500.59', '$500.61', '$500.66', '$500.69', '$500.70',
       '$500.85', '$501.06', '$501.12', '$501.22', '$501.26', '$501.66',
       '$501.86', '$502.09'], dtype=object)

In [406]:
df['Acquisition_Cost'] = (
    df['Acquisition_Cost']
    .replace(r'[\$,]', '', regex=True)
    .astype(float)
)
display(df.head(4))

,Campaign_ID,Campaign_Goal,Duration_in_Days,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,Company,_Target_Audience,Age_Min,Age_Max
0,529013,Product Launch,15,Instagram,0.15,500.0,5.790000,Las Vegas,Spanish,500,3000,7,Health,2022-02-25,Aura Align,Men,35,44
1,275352,Market Expansion,15,Facebook,0.01,500.0,7.210000,Los Angeles,French,500,3000,5,Home,2022-05-12,Hearth Harmony,Women,45,60
2,692322,Product Launch,15,Instagram,0.08,500.0,0.430000,Austin,Spanish,500,3000,9,Technology,2022-06-19,Cyber Circuit,Men,45,60
3,675757,Increase Sales,15,Pinterest,0.03,500.0,0.909824,Miami,Spanish,293,1937,1,Health,2022-09-08,Well Wish,Men,25,34

### Visualização e exportação para Preparo de modelos preditivos, armazenamento, plotagem e relatório

#### View info final

In [407]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       300000 non-null  int64
 1   Campaign_Goal     300000 non-null  object
 2   Duration_in_Days  300000 non-null  Int64
 3   Channel_Used      300000 non-null  object
 4   Conversion_Rate   300000 non-null  float64
 5   Acquisition_Cost  300000 non-null  float64
 6   ROI               300000 non-null  float64
 7   Location          300000 non-null  object
 8   Language          300000 non-null  object
 9   Clicks            300000 non-null  int64
 10  Impressions       300000 non-null  int64
 11  Engagement_Score  300000 non-null  int64
 12  Customer_Segment  300000 non-null  object
 13  Date              300000 non-null  datetime64[ns]
 14  Company           300000 non-null  object
 15  _Target_Audience  300000 non-null  object
 16  Age_Min           300000 non-null  Int16
 17  Age_Max           300000 non-null  Int16
dtypes: Int16(2), Int64(1), datetime64[ns](1), float64(3), int64(4), object(7)
memory usage: 38.6+ MB

#### Exportação

In [408]:
df.to_csv("../Data/df_Social_Media_Tratado.csv",index=False)

#### Armazenamento

In [415]:
load_dotenv()

True

In [416]:
user = os.getenv("PGUSER")
password = os.getenv("PGPASS")
host = os.getenv("PGHOST")
port = os.getenv("PGPORT")
database = os.getenv("PGDB")

In [417]:
DATABASE_URL = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}"
print(DATABASE_URL)

postgresql+psycopg2://postgres:ton@localhost:5432/Consumo_Propagandas

In [412]:
try:
    engine = create_engine(DATABASE_URL)
    with engine.connect() as conn:
        conn.execute("SELECT 1")
    print("Sucesso na conexao com PostgreSQL.")
except SQLAlchemyError as e:
    print("Erro ao conectar ao banco:", e)
    raise SystemExit

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe3 in position 107: invalid continuation byte

In [ ]:
caminho_csv = "df_Social_Media_Tratado.csv"

In [ ]:
try:
    for i, chunk in enumerate(pd.read_csv(caminho_csv, chunksize=1000)):
        chunk.to_sql(
            name='tabela_tratada',
            con=engine,
            if_exists='append',  # 'replace' na primeira execução para recriar
            index=False,
            chunksize=1000
        )
        print(f"Lote {i+1} inserido ({len(chunk)} linhas).")

    print("Sucesso na inserção!!")
except SQLAlchemyError as exp_erro:
    print("Erro na exportação para o banco:", exp_erro)
except FileNotFoundError:
    print("Arquivo CSV não encontrado:", caminho_csv)
except Exception as erro:
    print("Erro:", erro)