# Projeto Big Data & Data Mining

## Consumo de propagandas: impacto dos anúncios na decisão de compra dos consumidores

### Imports

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

### Armazenamento

In [9]:
df = pd.read_csv("../Data/df_Social_Media_Tratado.csv")
print("Dataset carregado com shape:", df.shape)

Dataset carregado com shape: (300000, 18)

In [10]:
df.head()

,Campaign_ID,Campaign_Goal,Duration_in_Days,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,Company,_Target_Audience,Age_Min,Age_Max
0,529013,Product Launch,15,Instagram,0.15,$500.00,5.790000,Las Vegas,Spanish,500,3000,7,Health,2022-02-25,Aura Align,Men,35,44
1,275352,Market Expansion,15,Facebook,0.01,$500.00,7.210000,Los Angeles,French,500,3000,5,Home,2022-05-12,Hearth Harmony,Women,45,60
2,692322,Product Launch,15,Instagram,0.08,$500.00,0.430000,Austin,Spanish,500,3000,9,Technology,2022-06-19,Cyber Circuit,Men,45,60
3,675757,Increase Sales,15,Pinterest,0.03,$500.00,0.909824,Miami,Spanish,293,1937,1,Health,2022-09-08,Well Wish,Men,25,34
4,535900,Market Expansion,15,Pinterest,0.13,$500.00,1.422828,Austin,French,293,1937,1,Home,2022-08-24,Hearth Harmony,Men,45,60

### Análise

In [11]:
df.info()
df.describe()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       300000 non-null  int64
 1   Campaign_Goal     300000 non-null  object
 2   Duration_in_Days  300000 non-null  int64
 3   Channel_Used      300000 non-null  object
 4   Conversion_Rate   300000 non-null  float64
 5   Acquisition_Cost  300000 non-null  object
 6   ROI               300000 non-null  float64
 7   Location          300000 non-null  object
 8   Language          300000 non-null  object
 9   Clicks            300000 non-null  int64
 10  Impressions       300000 non-null  int64
 11  Engagement_Score  300000 non-null  int64
 12  Customer_Segment  300000 non-null  object
 13  Date              300000 non-null  object
 14  Company           300000 non-null  object
 15  _Target_Audience  300000 non-null  object
 16  Age_Min           300000 non-null  int64
 17  Age_Max           300000 non-null  int64
dtypes: float64(2), int64(7), object(9)
memory usage: 41.2+ MB

Campaign_ID         0
Campaign_Goal       0
Duration_in_Days    0
Channel_Used        0
Conversion_Rate     0
Acquisition_Cost    0
ROI                 0
Location            0
Language            0
Clicks              0
Impressions         0
Engagement_Score    0
Customer_Segment    0
Date                0
Company             0
_Target_Audience    0
Age_Min             0
Age_Max             0
dtype: int64

#### Script

#### 02. Taxa de conversão

In [12]:
y_cr = df["Conversion_Rate"]
X_cr = df.drop(columns=["Conversion_Rate"])

In [13]:
type(X_cr)
X_cr.head()
X_cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       300000 non-null  int64
 1   Campaign_Goal     300000 non-null  object
 2   Duration_in_Days  300000 non-null  int64
 3   Channel_Used      300000 non-null  object
 4   Acquisition_Cost  300000 non-null  object
 5   ROI               300000 non-null  float64
 6   Location          300000 non-null  object
 7   Language          300000 non-null  object
 8   Clicks            300000 non-null  int64
 9   Impressions       300000 non-null  int64
 10  Engagement_Score  300000 non-null  int64
 11  Customer_Segment  300000 non-null  object
 12  Date              300000 non-null  object
 13  Company           300000 non-null  object
 14  _Target_Audience  300000 non-null  object
 15  Age_Min           300000 non-null  int64
 16  Age_Max           300000 non-null  int64
dtypes: float64(1), int64(7), object(9)
memory usage: 38.9+ MB

In [15]:
#X_cr_prep = pd.get_dummies(X_cr, drop_first=True)

#scaler_cr = StandardScaler()
#X_cr_scaled = scaler_cr.fit_transform(X_cr_prep)

In [14]:
X_cr['Acquisition_Cost'].unique()[:20]

array(['$500.00', '$500.10', '$500.18', '$500.20', '$500.27', '$500.45',
       '$500.49', '$500.59', '$500.61', '$500.66', '$500.69', '$500.70',
       '$500.85', '$501.06', '$501.12', '$501.22', '$501.26', '$501.66',
       '$501.86', '$502.09'], dtype=object)